body {
	color: black;
	font-family: Helvetica;
    text-align: center;
    background-color: lightblue;
}

#potrait {
	width: 175px; 
	height: 175px;
	padding: 0px;
    border: 10px solid white;
    border-radius: 50%
}

.courses {
	display: table; 
	margin: 0 auto;
}

a {
  cursor: pointer;
  position: relative;
}

a:active {
	top: 2px;
}
